<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography</title>
    <link rel="stylesheet" type="text/css" href='../static/style.css'>
    <script defer src="../static/script.js"></script>
</head>

<body>

    <button onclick='encbut()'>Encode</button>
    <button>Decode</button>
    <div class="form hide">
        <form action="send" type="GET">
            Email:<input type="email"><br>
            Password:<input type="password">
            <input type="submit">
        </form>
    </div>


</body>

</html>